include LICENSE
include README.md
include CONTRIBUTING.md

recursive-include flask_graphql/static *
recursive-include flask_graphql/templates *
recursive-include tests *.py

include Makefile

include .coveragerc
include tox.ini

global-exclude *.py[co] __pycache__
